body {
    font-family: "Poppins", sans-serif;
}

.page-content {
    margin-top: 100px;
}

footer {
    margin-top: 50px;

    p {
        color: #3b3b3b;
    }
}

.form-control {
    background-color: #f3f3f3;
}
