.navbar-store {
    padding-top: 15px;

    @include media-breakpoint-down(md) {
        background-color: rgb(255, 255, 255) !important;
    }

    .nav-item {
        .nav-link {
            @include media-breakpoint-up(lg) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    .profil-picture {
        max-height: 45px;
    }

    .card-badge {
        display: inline-block;
        min-width: 2em;
        padding: 0.3em;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        background: #3eb3f7;
        color: #fefefe;
        margin-left: -10px;
    }
}
.navbar-fixed-top.scrolled {
    background-color: #ece7e7 !important;
    transition: background-color 200ms linear;
}
